@font-face {
  font-family: 'icomoon';
  src:
          url('../fonts/icomoon.ttf?q2l2q') format('truetype'),
          url('../fonts/icomoon.woff?q2l2q') format('woff'),
          url('../fonts/icomoon.svg?q2l2q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before, .icon:after {
  @include icon();
}